@import url('https://fonts.googleapis.com/css?family=Quicksand');

/** componentes comuns **/

html {
    height: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    height: 100%;
}

.header {
    padding-top: 6em;
}

.row-header {}

.logo-social-header {
    font-size: 1em;
}

.text-header {
    width: 100%;
    font-size: 60px;
    float: left;
    color: white;
}

.sub-text-header {
    font-size: 25px;
    padding-top: 1em;
    float: left;
    color: white;
}

.bg-1 {
    padding-top: 70px;
    height: 100%;
    width: 100%;
    background-image: url(../img/bg-1.jpg);
    
    background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
}

@media(min-width: 768px){
    .bg-1{
        background-attachment: fixed;
        
        
    }
}

.bg-2 {
    background-color: #73AF59;
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-3 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-4 {
    background-color: #73AF59;
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-5 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.button-header-container {
    margin-top: 1em;
}

@media (max-width: 992px) {
    .text-header {
        font-size: 2.1em;
    }
    .btn-header {
        padding-top: 5em;
    }
}

.color-text {
    color: black;
}

.color-primary {
    color: white !important;
}

.color-secondary {
    color: #73AF59;
}

.button {
    background-color: Transparent;
    background-repeat: no-repeat;
    color: white;
    border: solid 2px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.button-secondary {
    background-color: Transparent;
    background-repeat: no-repeat;
    color: #73AF59;
    border: solid 2px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.button-secondary:hover {
    color: black;
    text-decoration: none;
}

.button:hover,
.button:focus {
    color: #73AF59;
    text-decoration: none;
}

.button-header {
    margin-top: 0.5em;
}

.separator {
    width: 90%;
    color: #73AF59;
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333;
    /* old IE */
    background-color: transparent;
    /* Modern Browsers */
}

.logo {
    font-size: 5em;
    color: #73AF59;
}

.logo-small {
    color: #73AF59;
    font-size: 50px;
}


/** componentes comuns **/


/**about**/

.text-header-about {
    color: white;
}

.about-list {
    padding-top: 2em;
}

.about-logo {
    padding-top: 0.8em;
    padding-right: 2em;
}


/**about**/


/**Knowledge**/

.percent-text-knowledge {
    color: #73AF59;
}


/** Knowledge **/


/** Education **/

.img-education {
    width: 5em;
}

.text-education {
    padding-top: 2em;
}


/** Education **/


/** Contact **/

.textarea-contact {
    resize: none;
}


/** navbar transform**/

@media(min-width:992px) {
    .scrolled {
        transition: 0.5s ease;
    }
    .scrolled.navbar {
        background-color: black;
        padding: 0.5em;
        transition: 0.5s ease;
    }
    .scrolled.navbar .nav .item {
        line-height: 40px;
        transition: 0.5s ease;
    }
    .scrolled.navbar .nav .item .contact {
        display: inline-block;
        background-color: #ffffff;
        height: 40px;
        line-height: 30px;
        padding: 5px;
        border-radius: 2px;
        transition: 0.5s ease;
    }
    .scrolled.navbar .logo {
        float: left;
        display: inline-block;
        margin-top: 5px;
        margin-left: 5%;
        width: 40px;
        height: 40px;
        background-color: firebrick;
        transition: 0.5s ease;
    }
}

@media(max-width:992px) {
    nav.navbar {
        background-color: black !important;
        background: solid !important;
        padding: 0px;
    }
}


/** navbar transform**/


/** Bootstrap Configs **/

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar {
    background-color: white;
    background: transparent;
    border-color: transparent;
    padding-top: 2em;
    padding-right: 2em;
    color: white;
    transition: 0.5s ease;
}

.navbar li {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: gainsboro;
}

.navbar-default .navbar-nav>li>a:focus {
    color: white;
}

.row {
    padding: 1em;
}

* {
    border-radius: 0 !important;
}

.form-control:focus {
    border-color: #73AF59;
    box-shadow: none;
}


/** Bootstrap Configs **/
